<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="30" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <application>
        <service
            android:name="com.getui.gtc.GtcService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.getui.gtc.sdk.service.action" />
            </intent-filter>
        </service>

        <provider
            android:name="com.getui.gtc.base.GtcProvider"
            android:authorities="${applicationId}.getui.gtc.provider"
            android:exported="false" />
    </application>


    <!-- 适配android 11及以上，强烈建议加上 -->
    <queries>
        <intent>
            <action android:name="com.getui.sdk.action" />
        </intent>
    </queries>

</manifest>
